

.add_project {
    font-size: 25px;
    width: 210px;
    margin: 8.5px 30px;
    border: none;
    color: black;
}

.add_project:focus {
    transition: 0.5s;
    opacity: 50%;
    outline: none;
}

.loadingimg {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    position: absolute;
}

.x {
    background-color: transparent;
    border: none;
    font-size: 18px;
    opacity: 50%;
    margin-right: 5px;
}

.x:hover {
    border: none;
    opacity: 100%;
}